$primary-color: #171717;
$menu-bacg: #161616;
$footer-color: #d0daf5;
$footer-bacg: #0d0d0d;
$secondary-color: #2719c5;
$social-media-color: #188cff;
$hover-color: rgba(37, 68, 155, 0.38);
$nav-color: rgba(255, 255, 255, 0.75);
$white: #fff;
$text-color: rgba(255, 255, 255, 0.45);
$third-bg: #162243;

// $darkbleu-bgcolor : rgba(4,9,30,0.9);
// $default-border-radius: 0.5rem;

// $light-weight: 400;
// $xs-family: "Poppins",sans-serif;
// $lg-transition: all 0.5s ease-in-out;
// $sm-transition: all 0.3s ease-in-out;

// // $mobile: 480px;
// // $tablet: 768px;
// // $desktop: 1200px;

// // screen sizes
// $screen-xs: 480px;
// $screen-sm: 768px;
// $screen-md: 992px;
// $screen-lg: 1200px;
