@import '../../App.scss';

main.main {
  width: 100%;
  min-height: 100%;
  background-color: rgba(14, 6, 6, 0.438);
  padding: 70px 1rem;
}

// @include media(786px) {
//   main.main {
//     padding: 80px 3% 0;
//   }
// }

// @include media(992px) {
//   main.main {
//     padding-top: 90px;
//   }
// }
